body{
    background-color:#DFF0FF;
    text-align: center;
    
}

.container{
    margin: 5% 30%;
    min-width: 400px;
    background-color: #B1C2D0;
    padding-bottom: 5%;
    border: 2px solid #000000;
    max-width:800px;
} 


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 100%;
    border: 3px solid #000000;
}

img:hover{
    border-radius: 20%;
    
}

h1,h3{
    padding: 2% 0;
    background-color: #02325C;
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    font-size: 1.5em;
    font-weight: bold;
    color: #02325C;
}

ul {
list-style: none;
margin-left: 0;
padding-left: 0;
}

ul li{
  
    margin: 10px 0;
    text-align: center;
}


a{
    font-weight: bold;
    font-size: 1.3em;
    margin: 5%;
    color:black;
}
